body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #2e2f42;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-logo-span {
    color: #4d5ae5;
}

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}


.first-section {
    background-color: #2e2f42;
}

.first-section-titel {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.first-section-button {
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.first-section-button:hover,
.first-section-button:focus {
    background-color: #404bbf;
}

.features-list-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team {
    background-color: #f4f4fd;
}

.section-team-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-background {
    background-color: #fff;
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.section-portfolio-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-subtitel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-logo-span {
    color: #4d5ae5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


/* font-family: "Roboto", sans-serif;
color: #2e2f42;
    background-color: #fff; */
